<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射配置文件：配置statement对象-->
<mapper namespace="com.itheima.mapper.store.CatalogMapper">
    <resultMap id="CatalogMapper" type="Catalog">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="course_id" property="courseId"/>
        <association property="course" javaType="Course">
            <result column="name" property="name"/>
        </association>
    </resultMap>
    <!--遍历所有-->
    <select id="findAll" resultMap="CatalogMapper">
           SELECT * FROM st_catalog order by create_time desc
 </select>

    <!--新增-->
    <insert id="save" parameterType="Catalog">
         INSERT INTO st_catalog
           (id,name,remark,state,create_time,course_id)
             VALUES(#{id},#{name},#{remark},#{state},#{createTime},#{courseId})
    </insert>

    <!--批量删除-->
    <delete id="deleteByIds" parameterType="list">
        DELETE FROM st_catalog
        <where>
            <foreach collection="array" item="id" separator="," open="id in (" close=")">
                #{id}
            </foreach>
        </where>
    </delete>

    <!--根据id查询-->
    <select id="findByid" parameterType="string" resultMap="CatalogMapper">
        SELECT * FROM st_catalog where id=#{id}
    </select>
    <!--修改-->
    <update id="update" parameterType="Catalog">
        update st_catalog set id=#{id},name=#{name},remark=#{remark},state=#{state},create_time=#{createTime},course_id=#{courseId}
        where id=#{id}
    </update>
</mapper>